<main class="main">
  <section class="todo-container">
    <h1>Todo List</h1>
    <h2>A place to store your todos</h2>
    <form filterForm="ngForm" (input)="filterTask(filterForm)" class="form">
      <label for="filter"></label>
      <input
        type="text"
        name="filter"
        id="filter"
        placeholder="Filter your to-dos"
      />
    </form>
    <ol class="ordered-list">
      <li *ngFor="let todo of todos">
        <div class="list-item">
          <button class="complete" *ngIf="todo.completed === false">
            complete
          </button>
          <p
            class="task"
            [ngClass]="{ strikethrough: todo.completed === true }"
          >
            {{ todo.task }}
          </p>
          <button (click)="removeTask(i)">X</button>
        </div>
      </li>
    </ol>
    <form #addForm="ngForm" (ngSubmit)="addTask(addForm)" class="form">
      <label for="add-todo"></label>
      <input
        type="text"
        name="add-todo"
        id="add-todo"
        placeholder="Add your to-do"
        ngModel
      />
      <button class="add">Add</button>
    </form>
  </section>
</main>
